.custom_navbar{
  width: 100%;
  min-height: 140px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding:29px 0px;
  z-index: 8000;
  position: fixed;
}
.navbar_items{
  justify-content: flex-start;
  align-items:flex-start;
  padding-top:10px;
  padding-left: 25px;
  height:100%;
  flex-wrap:wrap;
  width:68%;
}
.navbar_logo{
  width:50%;
  text-align:right;
  margin-right: 25px;
}
.navbar_items > a , .accordion_item{
  text-decoration:none;
  margin:0px 10px;
  color: #999999 !important;
  font-size: 14px !important;
}
.menu_btn{
  color: #999999 !important;
  font-size: 14px !important;
  background:transparent;
  border:none;
  margin-bottom:5px;
  display:none;
}
.accordion{
  color: #999999 !important;
  font-size: 14px !important;
  flex-direction: column;
}
.accordion_heading{
  text-align:center;
  cursor:pointer;
}
.accordion_body{
  text-align:center;
  margin-top:8px;
}
.accordion_item{
  text-align:center;
}
.accordion_icon{
  margin-right:4px;
  display:none;
}
.active{
  border-bottom:1px solid  #444141;
}

.topbar_color:hover:after{
  width: 100%;
}
.topbar_color:after{
   content: "";
   display: block;
   width: 0;
   height: 1px;
   background: #444141;
}
.ferrari{
  color: #999999;
}
.ferrari:hover{
  color: #999999;
}


@media(min-width:650px){
  .ahover{
    display: flex !important;
  }
  
  .aleave{
    display: none !important;
  }
  
}

@media(max-width:650px){
  .accordion_icon{
    display:inline-block;
  }
  .menu_btn{
    display: block;
    text-align: center;
    width:100%;
    font-size: 15px;
  }
  .custom_navbar{
    flex-direction:column;
  }
  .navbar_items{
    flex-direction:column !important;
    align-items:center;
    width:100%;
    flex-wrap:no-wrap !important;
    padding-left: 0px;
  }
  .navbar_logo{
    width:100%;
    text-align:center;
    margin-top:30px;
    margin-right: 0px;
  }
  .navbar_items > a{
    margin:10px 0px;
  }
  .accordion{
    color: #999999 !important;
    font-size: 15px !important;
    flex-direction: column;
    width:100%;
  }
  .accordion_heading{
    width:100%;
    text-align:center;
    cursor:pointer;
    margin-top:10px;
  }
  .accordion_body{
    text-align:center;
    width:100%;
    margin-top:8px;
  }
  .accordion_item{
    text-align:center;
    width:100%;
  }
  .accordion_icon{
    margin-right:4px;
  }
  .active{
    border-bottom:1px solid  #444141;
  }
}




/* .topbar{
    height: 140px;
    background: #fff;
    width:100%;
}
.topbar_link{
    max-width: 49% !important;
    margin-bottom: 35px;
    margin-left: 15px;
}
.topbar_color{
    color: #999999 !important;
    font-size: 14px !important;

}
.topbar_color:hover:after{
    width: 100%;
 }
 .topbar_color:after{
     content: "";
     display: block;
     width: 0;
     height: 1px;
     background: #444141;
 }

 .fernanda{
    position: relative;
    display: inline-block;
 }
 .fernanda .about{
    visibility: hidden;
    width: 100%;
  
    color: #999999;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
  
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 79%;
    margin-left: -60px;  
 }

 .fernanda:hover .about {
    visibility: visible;
    width: 50%;
  }
 */
